
.selection__section__container div a img {
	width: 40px;
	height: 40px;
}

.selection__section__container div a {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
}

.selection__section__container div a h2 {
	font-size: 1.5rem;
	font-weight: 600;
	color: #fff;
	text-transform: uppercase;
}

.selection__container__education,
.selection__container__info {
	width: 50%;
	border-radius: 50px;
	transition: all 0.3s ease;
	margin: 5px;
}

.selection__container__info {
	background-color: #007BA2;
    border: 1px solid #007BA2;
}

.selection__container__education {
	background-color: #007ca200;
    border: 1px solid #007BA2;
}

.selection__section__container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.selection__section {
	position: fixed;
	left: 0;
	bottom: 95px;
	width: 100%;
	z-index: 9;
	height: 60px;
}

.selection__container__icon{
	margin-right: 30px;
}

.info__section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 120px;
}

.info__container__pic {
    display: inline-flex;
}

.info__container__pic__item--large {
    width: 230px;
    height: 460px;
    overflow: hidden;
    margin: 2px;
}

.info__container__pic__item--large img {
    width: 230px;
    height: 460px;
    object-fit: cover;
}

.info__container__pic__item--small img:hover,
.info__container__pic__item--large img:hover{
    transform: scale(1.2);
    transition: all 0.3s ease;
}

.info__container__pic__item--small {
    width: 230px;
    height: 468px;
    overflow: hidden;
}

.info__container__pic__item--small div {
    margin: 2px;
    width: 230px;
    height: 230px;
    overflow: hidden;
}

.info__container__pic__item--small img {
    width: 230px;
    height: 230px;
    object-fit: cover;
}

.info__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 50px;
    width: 550px;
}

.info__container__sub__content {
    width: 250px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 10px;
    margin-right: 20px;
}

.info__container__text h2 {
    font-size: 2.5rem;
    font-weight: 900;
    color: #007BA2;
    text-transform: uppercase;
}

.info__container__text p {
    font-size: 1.1rem;
    font-weight: 390;
    color: #ffffffab;
    line-height: 1.2;
}

.info__container__text p:hover {
    color: #ffffffd0;
}

.info__container__text h4 {
    font-size: 1.5rem;
    font-weight: 800;
    color: #007BA2;
    text-transform: uppercase;
}

.services__item__icon img{
    width: 50px;
    height: 50px;
}

.services__item h4 {

    margin-bottom: -3px;
}


/*Education Section*/

.education__section {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 110px;
}

.timeline__container {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 900px;
    height: 120px;
    border-radius: 10px;
    margin: 10px;
}

  /* Place the timeline__container to the left */
.left {
    left: 150px;
}
  
  /* Place the timeline__container to the right */
.right {
    right: 150px;
}

/* Add arrows to the left timeline__container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 15px;
    width: 0;
    z-index: 1;
    right: 80px;
    border: medium solid rgb(0, 0, 0);
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #ffffff50;
  }
  
  /* Add arrows to the right timeline__container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 15px;
    width: 0;
    z-index: 1;
    left: 80px;
    border: medium solid rgb(0, 0, 0);
    border-width: 10px 10px 10px 0;
    border-color: transparent #ffffff50 transparent transparent;
}

.right:hover::before {
    border-color: transparent #008fbb transparent transparent;
    transition: all 0.5s ease;
}

.left:hover::before {
    border-color: transparent transparent transparent #008fbb;
    transition: all 0.5s ease;
}

.education__pic__item {
    width:80px;
    height: 120px;
    margin-top: 0px;
    margin-right: 20px;
    margin-left: 20px;
}

.education__pic__item img {
    width: 50px;
    height: 50px;
}

.education__text__item {
    border-radius: 8px;
    border: 1px solid #ffffff50;
    top: -10px;
    padding-left: 10px;
    padding-right: 10px;
    height: 120px;
    line-height: 0.6;
}

.education__text__item:hover {
    border: 1px solid #008fbb;
    transition: all 0.5s ease;
}

.education__text__item p {
    font-size: 0.9rem;
    font-weight: 350;
    color: #ffffffab;
    line-height: 1.1;
}

.education__content__title h3 {
    font-size: 1.2rem;
    font-weight: 500;
    color: #ffffffce;
    margin-bottom: -5px;
}

.timeline__container:hover h3 {
    color: #008fbb;
    transition: all 0.5s ease;
}

.timeline__container:hover p {
    color: #ffffffd0;
    transition: all 0.5s ease;
}


/*Responsive*/

@media (max-width: 768px) {
    .info__section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 20px;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 120px;
    }

    .info__container__pic {
        display: none;
    }

    .info__container__pic__item--small {
        width: 200px;
        height: 400px;
        overflow: hidden;
    }

    .info__container__pic__item--small div {
        margin: 2px;
        width: 200px;
        height: 200px;
        overflow: hidden;
        display: none;
    }

    .info__container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 20px;
        margin-left: 5px;
        width: 400px;
    }

    .info__container__sub__content {
        width: 250px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin-top: 10px;
        margin-right: 20px;
    }

    .info__container__text h2 {
        font-size: 1.5rem;
        font-weight: 900;
        color: #007BA2;
        text-transform: uppercase;
    }

    .info__container__text p {
        font-size: 0.8rem;
        font-weight: 390;
        color: #ffffffab;
        line-height: 1.1;
    }

    .info__container__text h4 {
        font-size: 1.2rem;
        font-weight: 800;
        color: #007BA2;
        text-transform: uppercase;
    }

    .education__section {
        display: flex;
        justify-content: center;
        margin-top: 15px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 110px;
    }

    .timeline__container {
        display: flex;
        flex-direction: row;
        position: relative;
        width: 400px;
        height: 120px;
        border-radius: 10px;
        margin: 10px;
    }

    .education__pic__item {
        width: 80px;
        height: 80px;
        margin-top: 0px;
        margin-right: 10px;
        margin-left: 10px;
    }

    .education__pic__item img {
        width: 40px;
        height: 40px;
    }

    .education__text__item {
        border-radius: 8px;
        border: 1px solid #ffffff50;
 
        padding-left: 10px;
        padding-right: 10px;
        height: 125px;
        width: 400px;
        line-height: 0.6;
        margin: 0px;
    }

    .right {
        right: 25px;
    }

    .left {
        left: 55px;
    }

    .left::before{
        display: none;
    }

    .right::before{
        display: none;
    }

    .education__text__item p {
        font-size: 0.7rem;
        font-weight: 350;
        color: #ffffffab;
        line-height: 1;
    }

    .education__content__title h3 {
        font-size: 0.8rem;
        font-weight: 500;
        color: #ffffffce;
        margin-bottom: -5px;
        line-height: 1;
    }

    .services__item__icon img{
        width: 30px;
        height: 30px;
    }

    .selection__container__education,
    .selection__container__info {
        width: 100%;
        border-radius: 50px;
        transition: all 0.3s ease;
        margin: 5px;
        height: 50px;
        align-items: center;
        justify-content: center;
    }

    .selection__section {
        position: fixed;
        left: 0;
        bottom: 70px;
        width: 100%;
        z-index: 9;
    }

    .selection__container__icon{
        margin-right: 10px;
    }

    .selection__section__container div a img {
        width: 30px;
        height: 30px;
    }

}