.hero__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }

  .hero__text p {
    color: #ffffff;
    display: block;
    font-size: 15px;
    letter-spacing: 12px;
    text-transform: uppercase;
    margin-bottom: 18px;
    position: relative;
    left: 5px;
    top: 100px;
    opacity: 1;
    -webkit-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
  }
  
  .hero__text{
    position: relative;
    top: 100px;
    -webkit-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
    margin-left:80px;
  }
  
  .hero__text h2 {
    color: #00000000;
    font-family: 'Orbitron', sans-serif;
    font-size: 120px;
    font-weight: 700;
    line-height: 80px;
    margin-bottom: 30px;
    position: relative;
    text-transform: uppercase;
    top: 100px;
    opacity: 1;
    -webkit-text-stroke: 1px #ffffff;
  }
  
  .hero__text h2::after {
    position: absolute;
    top: -25px;
    height: 25px;
    width: 25px;
    border-radius: 100%;
    background: none;
    border: 1.5px solid #ffffff;
    content: "R";
    color: #ffffff;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
  }


  /*Responsive*/

  @media (max-width: 768px) {
    .hero__text h2 {
      font-size: 70px;
      line-height: 40px;
      left: -30px;
    }
    .hero__text p {
      font-size: 10px;
      letter-spacing: 7px;
      margin-bottom: 10px;
      left: -30px;
    }
    .hero__text h2::after{
      top: -15px;
      height: 15px;
      width: 15px;
      line-height: 15px;
      font-size: 10px;
    }
  }









  
.switch {
  position: relative;
  width: 60px;
  height: 34px;
  margin-right:20px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #007BA2;
}

input:focus + .slider {
  box-shadow: 0 0 1px #007BA2;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switch__system {
  position: relative;
  display: block;
  width: 200px;
  height: 24px;
  top: 200px;
  left: 110px;
  gap: 20px;
}

.switch__container {
  display: flex;
  gap: 20px;
}

/*Responsive*/

@media (max-width: 768px) {
  .switch__system {
    top: 260px;
    left: 30px;
  }
  .switch__container {
    gap: 10px;
  }
}



/*social media*/
.social__media {
  position: fixed;
  left: 60px;
  bottom: 80px;
  margin: 20px;
  z-index: 9;
}

.social__media .social__media__container {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  
}

.social__media .social__media__container div a{
  background-color: #007ca200;
  border-radius: 25px;
  border: 1px solid #007BA2;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  justify-content: left;
  align-items: center;
  height: 45px;
  width: 120px;
  padding: 0 10px;
}

.social__media__container div a h3 {
  margin-left: 10px;
}

.social__media .social__media__container div a:hover {
  background-color: #ffffff;
  color: #007BA2;
}

.social__media__container div a {
  text-decoration: none;
}

.social__media .social__media__container div a:hover {
  background-color: #ffffff;
  color: #007BA2;
}

.social__media .social__media__container div img {
  height: 40px;
  width: 40px;
  line-height: 40px;
}


/*Responsive*/

@media (max-width: 768px) {
  .social__media {
    left: 50px;
    bottom: 50px;
  }
  .social__media .social__media__container div {
    height: 35px;
    width: 35px;
  }

  .social__media .social__media__container div a {
    height: 35px;
    width: 35px;
    line-height: 35px;
    padding: 0;
  }
  .social__media .social__media__container div h3 {
    display: none;
  }
  .social__media .social__media__container div img {
    height: 30px;
    width: 30px;
    line-height: 35px;
  }
}