.body {
    margin: 0;
    padding: 0;
}
.menu__section {
    max-height: 600px;
    max-width: 800px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
    align-items: center;
	margin: auto;

}

.menu__section a{
    margin: 15px;
    text-decoration: none;
    cursor: pointer;
}

.option__icon {
    width: 120px;
    height: 100px;
}

.option__icon img {
    width: 100px;
    height: 100px;
    opacity: 0.5;
}

.option__icon img:hover {
    opacity: 1;
    transition: 0.3s;
}

.option {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.option__text {
    width: 120px;
}
.option__text h4{
    font-size: 18px;
    font-weight:100;
    color: #ffffff8e;
    opacity: 0;
}

.option:hover .option__text h4{
    opacity: 1;
    transition: 0.3s;
}






/*Responsive*/

@media (max-width: 768px) {
    .menu__section {
        max-height: 800px;
        max-width: 500px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .menu__section a{
        margin: 15px;
        text-decoration: none;
        cursor: pointer;
    }

    .option__icon {
        width:65px;
        height: 60px;
    }

    .option__icon img {
        width: 60px;
        height: 60px;
        opacity: 0.5;
    }

    .option__icon img:hover {
        opacity: 1;
        transition: 0.3s;
    }

    .option {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .option__text {
        width: 55px;
    }
    .option__text h4{
        font-size: 15px;
        font-weight:100;
        color: #ffffff8e;
        opacity: 0;
    }

    .option:hover .option__text h4{
        opacity: 1;
        transition: 0.3s;
    }
}


@media (max-width: 768px) {
    .section__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        padding: 50px 0;
        max-width: 800px;
    }

    .section__container h2 {
        font-size: 30px;
        font-weight: 100;
        color: #ffffff8e;
        text-align: center;
        margin-bottom: 20px;
    }

    .section__container p {
        font-size: 18px;
        font-weight: 100;
        color: #ffffff8e;
        text-align: center;
        margin-bottom: 20px;
    }

    .section__container a {
        text-decoration: none;
        color: #ffffff8e;
        font-size: 18px;
        font-weight: 100;
        text-align: center;
        margin-bottom: 20px;
    }

    .section__container a:hover {
        color: #ffffff;
        transition: 0.3s;
    }
}


