.gallery_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.gallery__page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}

.gallery__item {
  overflow: hidden;
  object-fit: cover;
  position: relative;
  width: 300px;
  height: 200px;
  border: 1px solid #ffffff69;
  border-radius: 10px;
  padding: 5px;
  display: flex;
  margin: 10px;
}

.gallery__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.gallery__item:hover img {
  filter: blur(5px);
  transition: 0.5s;
}

.gallery__item:hover {
  border: 1px solid #007BA2;
  transition: 0.5s;
}

.view__link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 10;
}

.view__link a {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  display: inline-block;
  position: relative;
  top: 4px;
  text-decoration: none;
}

.view__link a:hover {
  color: #00b6ee;
  transition: 0.3s;
}

.gallery__item:hover .view__link {
  opacity: 1;
  transition: 0.5s;
}

@media (max-width: 768px) {
  .gallery__item {
    width: 200px;
    height: 150px;
  }
}

@media (max-width: 576px) {
  .gallery__item {
    width: 150px;
    height: 100px;
  }
}

@media (max-width: 400px) {
  .gallery__item {
    width: 100px;
    height: 75px;
  }
}
