:root {
  --main-color: #007BA2;
  --secondary-color: #005f7a;
  --background-color: #f9f9f9;
  --text-color: #333;
  --text-light-color: #666;
  --border-color: #ccc;
  --border-radius: 10px;
  --box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  --transition: 0.3s ease;
}
